body {
  font-family: 'Open sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  background-image: url('img/backround_img/whitewall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}

.page-content{
  justify-content: center;
}

h1{
  text-align: left;
  font-weight: 300;
  margin-left: 30px;
  margin: 30px;
  margin-bottom: 10px;
  padding: 0;
}


span{
  display: inline-flex;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

p{
  margin: 30px;
}

img{
  margin: 30px;
  padding: 0;
  image-rendering: auto;
  object-fit: cover; 
}

.page-content{
  display: none; 
  animation: fadeEffect 2s; /* Fading effect takes 1 second */
}

.fade-in{
  opacity:0;
  transition: opacity 2s ease-in-out;
  font-weight: 300;
  text-align: left;
  line-height:3;
}

.fade-in-visible{
  opacity: 1;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bag247323{
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* slider */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



/* Hide the images by default */
.mySlides {
  display: none;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.nav-bar:hover {
  background-color:black; /* 您希望的悬停时的背景颜色 */
  font-weight: bold; /* 加粗文字 */
  color: white; /* 改变文字颜色 */
  /* 您还可以添加其他样式，如边框、阴影等 */
}



/* cart */
.cart-icon {
  position: fixed; /* 固定定位，相对于视口 */
  top: -70px; /* 距离顶部10px */
  right: -1100px; /* 距离右侧10px */
  cursor: pointer;
  z-index: 1000; /* 确保它在页面的其他内容之上 */
}
#cartbtn {
  /* Styling for cart button */
  cursor: pointer;
  position: relative; /* Position relative for the badge */
}

#cart-count {
  /* Styling for the number of items in the cart */
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute; /* Position absolute to float on the top-right corner of the cart icon */
  top: -10px;
  right: -10px;
  font-size: 0.8em;
}

.fas.fa-shopping-cart {
  font-size: 1.5em; /* 设置图标大小 */
}

/* 购物车摘要面板样式 */
.cart-summary {
  position: fixed; /* 或absolute，取决于您想要的效果 */
  top: 100px;
  right: -100%; /* 初始时隐藏在屏幕右侧 */
  width: 300px; /* 或您希望的宽度 */
  height: 60%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s; /* 平滑过渡动画 */
  z-index: 1000; /* 确保在其他内容之上 */
  overflow-y: auto; /* 如果内容很多，需要滚动 */
}



.cart-summary.open {
  right: 0; /* 当添加 'open' 类时，购物车摘要面板应该完全可见 */
}

/* cart end */


/* card */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  width: 100%; /* 或者您想要的固定宽度 */
  padding: 16px;
  box-sizing: border-box;
}

#buyer {
  /* 按钮居中 */
  display: flex;
  justify-content: center;
  padding: 16px;
}

.card img {
  /* 使图片充满卡片但保持它们的比例 */
  width: 200px; /* 或者卡片容器的宽度 */
  height: 200px; /* 保持图片比例 */
  object-fit: cover; /* 裁剪图片以适应容器 */
}


.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}



.remove-button{
  background-color: red;
  color: aliceblue;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  line-height: 1;
}


.remove-button:hover {
  background-color: darkred; 
}